<div id="show-conference">
    <div class="link-back">
        <a data-route="routes.conferences"><i class="icon-arrow-left"></i> Back to all conferences</a>
    </div>

    <h2 data-bind="conference.name"></h2>

    <div class="controls">
        <a data-view="userEmailView" data-bind-href="userEmailView.emailAddresses" class="btn btn-success">
            <i class="icon-envelope"></i>
            Email <span data-bind="conference.name"></span> DFOs
        </a>
    </div>

    <h3>Conference DFOs</h3>
    <div id="users" class="resource-list">
        <div data-foreach-user="conference.users" data-mixin="animation">
            <div data-partial="users/_user"></div>
        </div>
    </div>
</div>
