<p>
	++++++++++++++++++++++++++++++++++<br />
	+ DO NOT REPLY TO THIS EMAIL<br />
	++++++++++++++++++++++++++++++++++
</p>

<p>
	<%= @user.full_name %>,
</p>

<p>
	You're receiving this email because a request was made to reset your password. 
	If you did not make this request, simply ignore this email and nothing will happen. 
	If you did make this request, follow the link below to reset your password.
</p>

<p>
	<%= link_to "http://footballops.org/password_resets/#{@user.perishable_token}/edit", "http://footballops.org/password_resets/#{@user.perishable_token}/edit" %>
</p>

<p>
	If the link above does not work, try copying and pasting it into your browser.
</p>
