<% content_for :head do %>
  <%= include_javascripts :jobs %>
  
  <script type="text/javascript">
    $(function() {
      window.router = new Router({list: <%= @jobs.to_json.html_safe %>});
      Backbone.history.start({root: "/jobs"});
    });
  </script>
<% end %>

<div id="job-board">
  <div id="show-job"></div>
  <ul id="jobs"></ul>
</div>