/******************************************************************
 * Reset
 ******************************************************************/

* {
	margin: 0;
	padding: 0;
}

html {
	overflow-y: scroll;
}

html, body {
	height: 100%;
}

body {
	font-family: helvetica, arial, sans-serif;
	background: #fff;
}

a, a:visited {
	outline: none;
	font-weight: normal;
	text-decoration: underline;
	color: #33f;
}

a.cancel {
	color: red;
}

a img {
	border: none;
}


/******************************************************************
 * Table
 ******************************************************************/

table {
	border-collapse: collapse;
	margin-bottom: 14px;
}

td, th {
	padding: 6px;
	font-size: 12px;
}

th { 
	background: #aaa;
	text-align: left;
}


/******************************************************************
 * Utility
 ******************************************************************/
 
.float-left {
	float: left;
	margin-right: 12px;
}

.float-right {
	float: right;
	margin-left: 12px;
}

.clear {
	clear: both;
}

.center {
	text-align: center;
}

.inner {
    padding: 10px;
}


/******************************************************************
 * Type
 ******************************************************************/

p {
	font-size: 1em;
	line-height: 1.5;
	margin: 0 0 1em;
}

ul, ol {
	margin: 0 0 1em;
}

li {
	font-size: 1em;
	line-height: 1.5;
	margin-left: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
	color: #3e3e3e;
	line-height: 1.5;
	letter-spacing: -1px;
	margin-bottom: 0.5em;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.2em;
}

h5, h6 {
	font-size: 1.1em;
}

.error, .notice, .success {
	padding: 1em;
	margin-bottom: 1.5em;
	border: 2px solid #ddd;
	
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.error {
	background: #fbe3e4;
	color: #8a1f11;
	border-color: #fbc2c4;
}
.error a {
	color: #8a1f11;
}

.notice {
	background: #fff6bf;
	color: #514721;
	border-color: #ffd324;
}
.notice a {
	color: #514721;
}

.success {
	background: #e6efc2;
	color: #264409;
	border-color: #c6d880;
}

.success a {
	color: #264409;
}


/******************************************************************
 * Page
 ******************************************************************/

#page-wrap {
	width: 960px;
	margin: 0 auto;
}


/******************************************************************
 * Page
 ******************************************************************/

#nav {
	float: left;
	margin-bottom: 24px;
}

#login-info {
	float: right;
	margin-top: 4px;
}

#nav ul, #nav li {
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#nav li {
	float: left;
	margin-right: 12px;
	padding: 8px;
	background: #eee;
}


/******************************************************************
 * Users
 ******************************************************************/

#profile_picture {
	float: left;
	margin-right: 12px;
	background: #ccc;
	padding: 6px;
}

#profile_picture img {
	background: #fff;
}

#profile_detail {
	float: left;
	width: 800px;
}

#profile_detail input[type=text], #profile_detail input[type=password], #profile_detail select {
	font-size: 1em;
	padding-right: 0.5em;
	vertical-align: middle;
}

#profile_detail fieldset {
	border: none;
	padding: 0.5em;
	border-bottom: 2px solid #eee;
	margin: 0.5em 0;
}

.user {
	border-bottom: 1px solid #eee;
	margin-bottom: 2px;
}

.user p {
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: .2em;
}

.user img {
	margin: 1px 0;
}


/******************************************************************
 * Listings
 ******************************************************************/

.show, .edit, .delete, .accepted { padding: 0 18px; }
.show { background: transparent url("/images/icons/search_16.png") left no-repeat; }
.edit { background: transparent url("/images/icons/paper&pencil_16.png") left no-repeat; }
.delete { background: transparent url("/images/icons/cancel_16.png") left no-repeat; }
.accepted { background: transparent url("/images/icons/accepted_16.png") left no-repeat; }