/******************************************************************
 * Reset
 ******************************************************************/

* {
	margin: 0;
	padding: 0;
}

html {
	overflow-y: scroll;
}

html, body {
	height: 100%;
}

body {
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	background: #fff;
}

a, a:visited {
	outline: none;
	font-weight: normal;
	text-decoration: underline;
	color: #33f;
}

a.cancel, abbr {
	color: red;
}

a img {
	border: none;
}


/******************************************************************
 * Table
 ******************************************************************/

table {
	border-collapse: collapse;
	margin-bottom: 14px;
}

td, th {
	padding: 6px;
	font-size: 12px;
}

th { 
	background: #aaa;
	text-align: left;
	border: 1px solid #111;
	border-bottom: 2px solid #111;
}

tr.user {
	border-bottom: 1px solid #eee;
}

tr.even {
	background-color: #fff;
}

tr.odd {
	background-color: #f0f5fe;
}

td.user-name, td.user-school, td.user-contact, td.user-conf-rep, td.user-nat-committee, td.user-affiliation {
	border-left: 1px solid #eee;
}

td.user-affiliation {
	border-right: 1px solid #eee;
}

td.user-conf-rep, td.user-nat-committee {
	text-align: center;
}


/******************************************************************
 * Utility
 ******************************************************************/
 
.float-left {
	float: left;
	margin-right: 12px;
}

.float-right {
	float: right;
	margin-left: 12px;
}

.clear {
	clear: both;
}

.center {
	text-align: center;
}

.inner {
    padding: 10px;
}


/******************************************************************
 * Type
 ******************************************************************/

p, li, td {
	font-size: 12px;
	line-height: 16px;
	margin-bottom: 12px;
	font-weight: normal;
}

li {
	margin-left: 24px;
}

h1, h2, h3 {
	color: #3e3e3e;
	letter-spacing: -1px;
}

h1 {
	font-size: 20px;
	line-height: 28px;
	margin-bottom: 15px;
}

h2 {
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 15px;
}

h3 {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 15px;
}

.error, .notice, .success {
	padding: 14px;
	margin-bottom: 15px;
	border: 2px solid #ddd;
	
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.error {
	background: #fbe3e4;
	color: #8a1f11;
	border-color: #fbc2c4;
}
.error a {
	color: #8a1f11;
}

.notice {
	background: #fff6bf;
	color: #514721;
	border-color: #ffd324;
}
.notice a {
	color: #514721;
}

.success {
	background: #e6efc2;
	color: #264409;
	border-color: #c6d880;
}

.success a {
	color: #264409;
}


/******************************************************************
 * Page
 ******************************************************************/

#page-wrap {
	width: 960px;
	margin: 0 auto;
}

#login-info {
	float: right;
	margin-top: 4px;
	margin-bottom: 20px;
}


/******************************************************************
 * Navigation
 ******************************************************************/

#nav {
	margin-bottom: 24px;
	background: #ddd;
	padding: 10px 10px;
	
	border: 1px solid #ccc;
	
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

#nav li {
	margin: 0;
	padding: 0;
	display: inline;
	float: left;
	list-style-type: none;
	font-size: 14px;
	font-family: Helvetica, Arial, sans-serif;
}

#nav li a {
	margin-right: 8px;
	padding: 6px 8px;
	color: #111;
	
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	
	text-shadow: 1px 1px #fff;
	-moz-text-shadow: 1px 1px #fff;
	-webkit-text-shadow: 1px 1px #fff;
}

#nav li a, #nav li a:visited {
	color: #666;
	text-decoration: none;
}

#nav li a:hover {
	background: #eee;
}

#nav li a.active {
	background: #fff;
	color: #000;
	font-weight: bold;
	border: 1px solid #000;
	border-color: #ccc #eee #eee #ccc;
	margin-top: -1px;
	
	text-shadow: none;
	-moz-text-shadow: none;
	-webkit-text-shadow: none;
}


/******************************************************************
 * Users
 ******************************************************************/

#user {
	margin: 0 auto;
	width: 800px;
}

#user input[type=text], #user input[type=password], #user select {
	font-size: 1em;
	padding-right: 0.5em;
	vertical-align: middle;
}

#user fieldset {
	border: none;
	padding: 0.5em;
	border-bottom: 2px solid #eee;
	margin: 0.5em 0;
}

.user p {
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: .2em;
}

.user img {
	margin: 1px 0;
}


/******************************************************************
 * Listings
 ******************************************************************/

.show, .edit, .delete, .accepted { padding: 0 18px; }
.show { background: transparent url("/images/icons/search_16.png") left no-repeat; }
.edit { background: transparent url("/images/icons/paper&pencil_16.png") left no-repeat; }
.delete { background: transparent url("/images/icons/cancel_16.png") left no-repeat; }
.accepted { background: transparent url("/images/icons/accepted_16.png") left no-repeat; }