<h1>Welcome to FootballOps.org</h1>

<div class="alert-message info">
  <h1>NCAA Reminder: Scouting Services Must Register This Month</h1>
  <p>
    The NCAA has asked us to remind all scouting services and potential users of their services that beginning 
    on June 1st, Division I member institutions will only be permitted to subscribe to scouting services that 
    are approved through the NCAA scouting service approval process. In order to be approved, the scouting 
    service must apply no later than the end of this month.
  </p>
  <%= link_to 'NCAA Reminder', 'https://s3.amazonaws.com/footballops-production/Notice-to-Coaches.pdf' %>
</div>

<p>
	This site is overseen by the Football Operations Committee members and it’s eventual purpose and design will 
	be decided by the men and women it serves. All input is welcome and encouraged.
</p>

<p>
	The purpose of this site is to provide up-to-date information and immediate communication among all the DFOs 
	(Directors of Football Operations) employed by all the NCAA &amp; NAIA colleges and universities in the United States.
</p>

<p>
	The role and responsibilities of a DFO sometimes means different things to different institutions. Until a job 
	description is universally defined we will initially define the position as someone who is designated by the head 
	football coach to oversee those critical duties and responsibilities that are inherently involved in the operation 
	of a college football team. Most of the time these responsibilities are carried out by an administrator whose sole 
	purpose is to serve those ends and sometimes it is an assistant coach or administrator, who absorbs these additional 
	duties in conjunction with others. The bottom line is that the head football coach relies on this person to perform
	functions that allow his coaches to coach.
</p>

<h2>Future</h2>

<p>
	At this point this site is merely serving as a directory. In the future we imagine the site to also serve as a 
	resource to share ideas, procedures and protocols . . . and perhaps even a source for employment. Because of the 
	transient nature of our profession it will have to be updated frequently. Realize that it will probably never be 
	100% correct. We have to rely upon each other to keep it up-to-date.
</p>

<h2>Contributing</h2>

<p>
  We welcome all contributions to the FootballOps.org website, and our profession in general.
</p>
