<h1>Welcome to FootballOps.org</h1>

<div class="notice">
  <h2>2011 DFO Spring Meetings</h2>
  <p>RSVP to <%= mail_to 'm.sinquefield@tcu.edu' %> and include names of all attendees (no fees)</p>
  <h3>Monday, May 9, 2011</h3>
  <ul>
    <li>12:30pm - National Committee Meeting (Committee Members Only)</li>
    <li>2:00pm - Registration for Clinic<br />
      Refreshments Courtesy of <strong>Row 27</strong></li>
    <li>3:00pm - Welcome - National Committee Report<br />
      Jeff Hawkins, Assistant AD for Football Operations: University of Oregon</li>
    <li>3:15-4:15pm - Update on Agent / Amateurism Issues<br />
      Marcus Wilson: NCAA, Jeff Hawkins</li>
    <li>4:30-5:30pm - Keys to Organizing an Effective Recruiting Operation<br />
      Sherman Morris: Director of Player Personnel</li>
    <li>5:45-6:45pm - Social Networking Opportunity<br />
      Courtesy of <strong>Debo's Collegiate Sports Travel</strong></li>
    <li>7:00pm - Dinner (on your own)</li>
  </ul>
  <h3>Tuesday, May 10, 2011</h3>
  <ul>
    <li>7:30-8:30am - Continental Breakfast<br />
      Courtesy of <strong>XOs Technology</strong></li>
    <li>8:30-9:30am - The Basics - Building the Ops Calendar<br />
      Mike Sinquefiled, Director of Football Operations: TCU</li>
    <li>9:40-10:40am - Technology Talk<br />
      Jodi Murphy: Jump Forward</li>
    <li>10:50am-12:00pm - Open Forum - Q&amp;A Session</li>
  </ul>
</div>

<p>
	This site is overseen by the Football Operations Committee members and it’s eventual purpose and design will 
	be decided by the men and women it serves. All input is welcome and encouraged.
</p>

<p>
	The purpose of this site is to provide up-to-date information and immediate communication among all the DFOs 
	(Directors of Football Operations) employed by all the NCAA &amp; NAIA colleges and universities in the United States.
</p>

<p>
	The role and responsibilities of a DFO sometimes means different things to different institutions. Until a job 
	description is universally defined we will initially define the position as someone who is designated by the head 
	football coach to oversee those critical duties and responsibilites that are inherently involved in the operation 
	of a college football team. Most of the time these responsibilities are carried out by an administrator whose sole 
	purpose is to serve those ends and sometimes it is an assistant coach or administrator, who absorbs these additional 
	duties in conjunction with others. The bottom line is that the head football coach relies on this person to perform
	functions that allow his coaches to coach.
</p>

<h2>Future</h2>

<p>
	At this point this site is merely serving as a directory. In the future we imagine the site to also serve as a 
	resource to share ideas, procedures and protocols . . . and perhaps even a source for employment. Because of the 
	transient nature of our profession it will have to be updated frequently. Realize that it will probably never be 
	100% correct. We have to rely upon each other to keep it up-to-date.
</p>
