<div id="user-nav" class="clearfix">
	<div class="float-left">
		<%= will_paginate @users %>
	</div>
	<div class="float-left">
		<% form_tag :search_users, :method => :post do %>
			<%= text_field_tag :last_name %> <%= submit_tag "Search by last name" %>
		<% end %>
	</div>
</div>
