<h1>All Conference Reps</h1>

<table>
	<tr>
		<th>Name</th>
		<th>School</th>
		<th>Contact Info</th>
		<th>Conference Rep</th>
		<th>National Committee</th>
		<th>Affiliation</th>
		<% if admin? %>
			<th>Edit</th>
			<th>Delete</th>
		<% end %>
	</tr>
	<%= render @users %>
</table>