<h1>New User Signup</h1>

<%= simple_form_for @user, html: { class: 'form-vertical' } do |f| %>
  <%= render 'form', f: f %>
    
  <div class="form-actions">
    <%= f.button :submit, "Create user", class: "btn btn-primary" %>
    <%= link_to "Cancel", users_path, class: "btn" %>
  </div>
<% end %>
