<h1>All Conferences</h1>

<% if admin? %>
	<p><%= button_to "New conference", new_conference_path, :method => :get %>
<% end %>

<ul id="conferences">
	<% @conferences.each do |c| %>
		<li>
			<%= link_to c.name, c %>
			<% if admin? %>
				| <%= link_to "(edit)", edit_conference_path(c) %>
			<% end %>
		</li>
	<% end %>
</ul>