<h1><%= @conference.name %></h1>

<% form_tag "/users/search", :method => :post do %>
	<%= text_field_tag :last_name %> <%= submit_tag "Search by last name" %>
<% end %><br />

<h2>DFOs</h2>
<table>
	<tr>
		<th>Name</th>
		<th>School</th>
		<th>Contact Info</th>
		<th>Conference Rep</th>
		<th>National Committee</th>
		<th>Affiliation</th>
	</tr>
	<%= render @conference.users %>
</table>
