<h1><%= @conference.name %></h1>

<h2>Uploaded Files</h2>
<ul>
	<li>File 1...</li>
</ul>

<%= render 'shared/email_users', :users => @conference.users %>

<h2>DFOs</h2>
<table>
	<tr>
		<th>Name</th>
		<th>School</th>
		<th>Contact Info</th>
		<th>Conference Rep</th>
		<th>National Committee</th>
		<th>Affiliation</th>
		<% if admin? %>
			<th>Edit</th>
			<th>Delete</th>
		<% end %>
	</tr>
	<%= render @conference.users %>
</table>
