<h1>All Divisions</h1>

<% if admin? %>
	<p><%= link_to "Add a new division", new_division_path %>
<% end %>

<ul id="divisions">
	<% @divisions.each do |d| %>
		<li>
			<%= link_to d.name, d %>
			<% if admin? %>
				| <%= link_to "(edit)", edit_division_path(d) %>
			<% end %>
		</li>
	<% end %>
</ul>