<h1>New division</h1>

<% simple_form_for @division do |f| %>
	<%= render 'shared/form', :f => f %>
	
	<div class="actions">
    <%= f.button :submit, "Save division", class: "btn primary" %>
    <%= link_to "Cancel", divisions_path, class: "btn" %>
  </div>
<% end %>