<%= content_for :head do %>
  <%= javascript_include_tag 'football_ops' %>
<% end %>

<div id="loading-spinner"></div>

<div data-showif="flash.success" id="flash-success" class="alert alert-success">
  <a class="close" data-dismiss="alert" href="#">x</a>
  <h4 class="alert-heading">Success!</h4>
  <div data-bind="flash.success"></div>
</div>
<div data-showif="flash.error" id="flash-error" class="alert alert-error">
  <a class="close" data-dismiss="alert" href="#">x</a>
  <h4 class="alert-heading">Error</h4>
  <div data-bind="flash.error"></div>
</div>

<div data-yield="main"></div>
