<h1>Schools Documentation</h1>

<p>
  You must be authenticated to use the API. Please see the 
  <%= link_to 'authentication documentation', '#' %>.
</p>

<table id="api-navigation">
  <tbody>
    <tr>
      <td>
        <strong><a href='#index'>Show all schools</a></strong>
        <br />
        <span>GET schools</span>
      </td>
      <td>
        Returns a list of all schools
      </td>
    </tr>
    <tr>
      <td>
        <strong><a href='#show'>Show a school</a></strong>
        <br />
        <span>GET schools/:id</span>
      </td>
      <td>
        Returns a school found by id
      </td>
    </tr>
    <tr>
      <td>
        <strong><a href='#search'>Search for a school by name</a></strong>
        <br />
        <span>GET schools/search/:q</span>
      </td>
      <td>
        Return a list of all schools matching the search query passed
      </td>
    </tr>
  </tbody>
</table>


<div id="index" class="api-method">
  <a href="#api-navigation"><i class="icon-chevron-up"></i> Top</a>
  <h2>Show All Schools</h2>
  <p>Returns a full list of all schools.</p>
</div>

<pre class="pizzazz"><strong>GET</strong> schools/</pre>

<h4>Parameters</h4>
<p>This method does not accept any parameters</p>

<h4>Example Request</h4>
<pre class="pizzazz">
<strong>curl</strong> -i <span class="string">"http://footballops.org/api/v1/schools"</span> \
  -u <span class="string">"6999bc74b782f3ff118d2b205904d622"</span></pre>

<h4>Example Response</h4>
<pre class="pizzazz">
<span class="headers">HTTP/1.1 200 OK
Content-Type: application/json; charset=utf-8</span>

<%= Pizzazz.ify([@school, {'next_school' => '...'}]).html_safe %></pre>
