<h1>2012 AFCA Convention</h1>

<h2>Sunday, January 8, 2012</h2>

<p>
  5:30-7:00pm: Executive Committee Meeting (National Committee members only) - Room 209<br />
  <em>Refreshments Sponsored by <strong>Field Turf</strong></em>
</p>

<hr />

<h2>Monday, January 9, 2012</h2>

<p><em>8:00-9:00am: Continental Breakfast Sponsored by <strong>Hilton Worldwide Hotels</strong></em></p>
<p>8:00-8:15am: Executive Committee Meeting (Committee members only) - Room 216</p>
<p>
  8:15-8:50am: DFO General Assembly (AFCA Members only) - Room 216<br />
  <ul>
    <li>Breakout sessions overview</li>
    <li>Benefits &amp; salary survey</li>
    <li>Conference representation</li>
    <li>Website &amp; online directory</li>
    <li>Upcoming NCAA legistration affecting DFOs</li>
    <li>DFO of they Year / Job Board (Scott Roussel, FootballScoop.com)</li>
  </ul>
</p>

<p>
  9:00-11:15am: Breakout Session #1 (AFCA Members only) - Room 216<br />
  <strong>Pending Issues and NCAA Legislation Regarding Athlete-Agents</strong><br />
  Panel Discussion: NCAA, NFL, NFLPA, AFCA &amp; Texas State Official
</p>

<p><em>11:30am-1:45pm: Recess - <strong>Kickoff Luncheon</strong></em></p>

<p>
  2:00-3:50pm: Breakout Session #2 (AFCA Members only) - Room 216<br />
  <strong>NFL Combine, Draft 101, Elite Combines &amp; Character Issues</strong><br />
  Deana Garner, NFL Security
</p>

<p>
  4:00-4:50pm: Breakout Session #3 (AFCA Members only) - Room 216<br />
  <strong>UAAA (Uniform Athlete Agent Act) &amp; Oregon Amendment HB 3691</strong><br />
  Mike Powell, Office of Texas Secretary of State &amp; Jeff Hawkins, University of Oregon
</p>

<p><em>5:00-7:00pm: Happy Hour Sponsored by <strong>Collegiate Sports Travel</strong> (Pat O'Brien's)</em></p>

<hr />

<h2>Tuesday, January 10, 2012</h2>

<p><em>8:00-9:00am: Continental Breakfast Sponsored by <strong>XOS Digital</strong></em></p>

<p>
  9:00-9:50am: Breakout Session #4 (AFCA Members only) - Room 216<br />
  <strong>Team Travel - RFP / Protocal for Air Travel &amp; Hotels</strong><br />
  Jamie Speronis, University of South Carolina
</p>

<p>
  10:00-10:50am: Break Session #5 (AFCA Members only) - Room 216<br />
  <strong>Road Trip - Managing Meals &amp; Meeting Rooms</strong><br />
  James Harris, University of Oregon
</p>

<p>
  11:00-11:50am: Breakout Session #6 (AFCA Members only) - Room 216<br />
  <strong>Personal Development Program</strong><br />
  David Baylor, University of Delaware
</p>

<p><em>5:00pm: Happy Hour Sponsored by <strong>Jump Forward</strong></em></p>
