<div class="title">
    <h1>All Members</h1>

    <div data-view="UsersSearchView">
      <form accept-charset="UTF-8" id="user-search" method="get" class="form-search"
        data-event-submit="search">
        <input id="user-query" data-bind="searchQuery"
          name="q" placeholder="Search all DFOs by name" type="text" class="search-query">
      </form>
    </div>

    <h2>
        Page: <span data-bind="paginatedUsers.page"></span> of
        <span data-bind="paginatedUsers.pageCount"></span>
    </h2>
</div>

<div class="controls">
    <a data-showif-"currentUser.canManage" data-route="routes.users.new" class="btn btn-primary">
        <i class="icon-plus-sign"></i> Create a new DFO
    </a>
    <!--
    <a href="#" class="btn btn-block btn-success">
        <i class="icon-envelope"></i> Message all DFOs
    </a>
    -->
</div>

<div data-partial="users/_pagination"></div>

<div id="users">
    <div data-foreach-user="paginatedUsers" data-mixin="animation">
        <div data-partial="users/_user"></div>
    </div>
</div>

<div data-partial="users/_pagination"></div>
