<h1>Editing district</h1>

<% form_for(@district) do |f| %>
	<%= render :partial => 'form', :locals => { :f => f } %>
<% end %>

<%= link_to 'Show', @district %> |
<%= link_to 'Back', districts_path %>