<h1>All Districts</h1>

<% if admin? %>
	<%= button_to "New district", new_district_path, :method => :get %>
<% end %>

<ul id="districts">
	<% @districts.each do |d| %>
		<li>
			<%= link_to d.name, d %>
			<% if admin? %>
				| <%= link_to "(edit)", edit_district_path(d) %>
			<% end %>
		</li>
	<% end %>
</ul>
