<h1>New district</h1>

<% simple_form_for @district do |f| %>
	<%= render 'shared/form', :f => f %>
	
	<div class="actions">
    <%= f.button :submit, "Save district", class: "btn primary" %>
    <%= link_to "Cancel", districts_path, class: "btn" %>
  </div>
<% end %>