<h1>New school</h1>

<% simple_form_for @school do |f| %>
  <%= render 'form', f: f %>
  
  <div class="actions">
    <%= f.button :submit, "Save school", class: "btn primary" %>
    <%= link_to "Cancel", schools_path, class: "btn" %>
  </div>
<% end %>