p, td, li {
  font-size: 16px;
  line-height: 24px;
}

h1, h2, p, ol, ul, table {
  margin-bottom: 18px;
}

div.api-method {
  margin-top: 54px;
}

table#api-navigation {
  width: 100%;
  margin: 36px 0 18px;

  tr {
    height: 60px;
    border-bottom: 1px solid #dadada;

    td {
      width: 50%;

      strong {
        font-size: 16px;
      }

      span {
        color: #666;
      }
    }
  }
}

table.params {
  width: 100%;
  margin-bottom: 24px;

  tr {
    border-bottom: 1px solid #dadada;

    td {
      width: 50%;
      padding: 12px 0;
      vertical-align: middle;

      .param {
        font-weight: 600;
        font-size: 18px;
      }

      span {
        color: #666;
      }

      span.restricted {
        color: #d12;
      }
    }
  }
}

.api-method {
  margin-top: 36px;
}

.highlight {
  background-color: #fffe97;
  padding: 2px 0;
}
