header#main-nav {
  width: 100%;
  margin-bottom: 36px;
  border-bottom: 1px solid #ccc;

  a.brand {
    float: left;
    font-size: 26px;
    line-height: 34px;
    font-weight: bold;
    color: #bababa;
  }

  a.brand:hover {
    text-decoration: none;
  }

  ul.nav {
    float: right;
    margin-bottom: 0;

    li .btn {
      margin-bottom: 7px;
    }

    .dropdown .caret {
      margin-top: 5px;
    }
  }
}


header.page-head {
  margin-bottom: 36px;

  h1 {
    float: left;
  }

  a {
    float: right;
  }
}


.form-search {
  font-size: 18px;

  #q {
    width: 593px;
  }
}


div.pagination {
  font-size: 16px;

  .disabled {
    color: #ccc;
  }

  a, em {
    font-style: none;
    display: inline;
    padding: 0 3px;
    float: none;
    border: none;
  }

  .previous_page {
    padding-right: 8px;
  }

  .next_page {
    padding-left: 8px;
  }
}

footer {
  margin-top: 36px;
  padding: 20px;
  height: 40px;
  background-color: #fafafa;
}
