#main-content {
  padding: 20px;
  background: #fff;
  border-bottom: 1px solid #666;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

dl {
  font-size: 18px;

  dt {
    float: left;
    margin-right: 18px;
    width: 160px;
    text-align: right;
    font-weight: normal;
    color: #999;
    line-height: 24px;
  }

  dd {
    margin-left: 177px;
    line-height: 24px;
  }
}

.well {
  background-color: #fefefe;
  border-color: #dadada;
  border-top-color: #bbb;
}


header#main-nav {
  width: 100%;
  margin-bottom: 36px;
  border-bottom: 1px solid #ccc;

  a.brand {
    float: left;
    font-size: 36px;
    line-height: 34px;
    font-weight: bold;
    color: #b3b3b3;
    color: rgba(255, 255, 255, 0.3);
    text-shadow: -1px -1px rgba(0, 0, 0, 0.5);
  }

  a.brand:hover {
    text-decoration: none;
  }

  ul.nav {
    float: right;
    margin-bottom: 0;

    li .btn {
      margin-bottom: 7px;
    }

    .dropdown .caret {
      margin-top: 5px;
    }
  }
}


header.page-head {
  margin-bottom: 36px;

  h1 {
    float: left;
  }

  a {
    float: right;
  }
}


.form-search {
  font-size: 18px;

  #user-query {
    width: 98%;
  }
}


div.pagination {
  font-size: 16px;

  .disabled {
    color: #ccc;
  }

  a, em {
    font-style: none;
    display: inline;
    padding: 0 3px;
    float: none;
    border: none;
  }

  .previous_page {
    padding-right: 8px;
  }

  .next_page {
    padding-left: 8px;
  }
}

.title {
  margin-bottom: 24px;
}

footer {
  color: #999;
  margin-top: 36px;
  padding: 20px;
  height: 40px;

  a {
    color: #999;
    text-decoration: underline;
    margin: 0 6px;
  }
}
