/*
 * Universal User styles
 **************************/

.badge {
  margin-right: 2px;
}


/*
 * Index view styles
 **************************/

a.user {
  display: block;
  color: #666;
  font-size: 16px;
  width: 100%;
  padding: 10px 4px;
  border-bottom: 1px solid #dadada;

  .user-pic {
    float: left;
    margin-right: 16px;
  }

  .user-detail {
    float: left;

    .user-name {
      font-size: 24px;
      margin-bottom: 8px;
      color: #222;
    }

    .user-school {
      font-size: 20px;
    }
  }

  .user-next {
    margin-top: 26px;
    float: right;
  }
}

a.user:hover {
  text-decoration: none;
  background-color: #fafafa;
}

.users-controls {
  div.pagination {
    float: left;
    margin: 0 0 18px;
  }

  a.email-link {
    float: right;
  }
}


/*
 * Show styles
 **************************/

#show-user {
  #top {
    //width: 100%;
    margin: 8px 0 24px;
    padding: 8px;
    background: #444;
    color: #fff;
    border-radius: 2px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

    .user-pic {
      float: left;
      margin-right: 16px;
      padding: 2px;
      background: #fff;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    }

    .title {
      float: left;

      .user-name {
        font-size: 36px;
        line-height: 42px;
        font-weight: bold;
      }

      .user-school {
        font-size: 24px;
        color: #ccc;
      }
    }

    #user-controls {
      float: right;

      a.btn {
        font-size: 18px;
      }
    }
  }
}


/*
 * Form view styles
 **************************/

input#user_first_name {
  width: 80px;
}

