a.user {
  display: block;
  color: #666;
  font-size: 16px;
  width: 100%;
  padding: 10px 4px;
  border-bottom: 1px solid #dadada;
  //min-height: 75px;

  .user-pic {
    float: left;
    margin-right: 16px;
  }

  .user-detail {
    float: left;

    .user-name {
      font-size: 24px;
      margin-bottom: 8px;
      color: #222;
    }

    .user-school {
      font-size: 20px;
    }

    .user-tags {
      .badge {
        margin-right: 2px;
      }
    }
  }

  .user-next {
    margin-top: 26px;
    float: right;
  }
}

a.user:hover {
  text-decoration: none;
  background-color: #fafafa;
}

.user-controls {
  div.pagination {
    float: left;
    margin: 0 0 18px;
  }

  a.email-link {
    float: right;
  }
}
