a.user {
  display: block;
  color: #666;
  font-size: 16px;
  width: 100%;
  margin-bottom: 8px;
  padding: 8px 0;
  border-bottom: 1px solid #dadada;

  .user-name {
    font-size: 20px;
    color: #222;
  }

  .user-school {
    width: 250px;
    display: inline-block;
  }

  .user-tags {
    .badge {
      margin: 0 2px;
    }
  }
}

a.user:hover {
  text-decoration: none;
  background-color: #fafafa;
}

.user-controls {
  div.pagination {
    float: left;
    margin: 0 0 18px;
  }

  a.email-link {
    float: right;
  }
}
