<h1>Editing File Upload for <%= @parent.name %></h1>

<% simple_form_for [@parent, @upload] do |f| %>
  <fieldset>
    <%= f.input :name, placeholder: "Western State 2011 Visitor's Guide" %>
  </fieldset>
  
  <div class="actions">
    <%= f.button :submit, "Update name", class: "btn primary" %>
    <%= link_to "Cancel", @parent, class: "btn" %>
  </div>
<% end %>