<h1>Login</h1>

<% semantic_form_for @user_session do |f| -%>
	<% f.inputs :name => 'Login' do %>
		<%= f.input :email %>
		<%= f.input :password, :as => :password %>
		<p><%= f.submit 'Login' %></p>
	<% end -%>
<% end -%>